@tailwind base;
@tailwind components;
@tailwind utilities;

body{
      background-color: #f0f0f0;
}
.container{
    width: 30%;
    text-align: center;
   
    
}

.priority{
    width: 30%;
    margin: auto;
    border-radius: 20px;
    padding: 5px;
    
    font-weight: bold;
}

article p{
    font-size: 1.4rem;
    font-weight: bold;

}

article p span{
    font-size: 1.2rem;
    font-weight: 500;
}
